.images-list {
  width: 100%;
  border-radius: 8px;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.content-img {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.images-list:hover {
  background: grey;
  opacity: 0.34;
}
